
.partner-college {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.entry-content{
    margin-top:0;
}

.title-bar{
    margin-top:0;
}

.current-menu-item > a{
    color:#402c65 !important;
}

.partner-college-wrapper{
    box-shadow: 0px 0px 2px 0px #402c65;
}
