
.partner-college {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.entry-content{
    margin-top:0;
}

.title-bar{
    margin-top:0;
}

.current-menu-item > a{
    color:#402c65;
}
